{% extends "base.html" %}
{% block title %}Registration | Identifier{% endblock %}

{% block css_link  %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <div class="container">
    <div class="container">
      <h1>Visit profile</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <img id='img-upload' src="{{ visit.get_picture_url }}" alt="Visit photo"/>
        </div>
      </div>

      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ visit.name }}</h3>
            <p class="card-text">Who: <a href="{{ url_for('profile.user_profile', user_id=visit.user_id) }}">{{ visit.user.full_name }}</a></p>
          </div>
          <div class="card-footer">
            <p class="card-text">Visiting time: {{ moment(visit.visit_date).format('MMMM Do, h:mm:ss a') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
